{
	"env": {
		"DEV": {
			"description": "use when running on localstack from within the container",
			"executor":"php",	
			"working_dir":"",		
			"queue_name": "local_queue",
			"profile_name": "default",
			"region_name": "us-east-1",
			"endpoint_url": "http://localstack:4576",
			"max_processes": 10,
			"clear_duplicates":true,
			"redis_host":<"redis","localhost","127.0.0.1">,
			"redis_port":6379,
			"redis_password":""
		},
		"PRODUCTION": {
			"description": "use when running for aws queue",
			"executor":"<php, php56 php72 /usr/local/bin/php, python>",
			"working_dir":"<working directory path>",		
			"queue_name": "demo_queue",
			"profile_name": "",
			"region_name": "",
			"endpoint_url": "",
			"max_processes": 4,
			"clear_duplicates":true,
			"redis_host":"",
			"redis_port":6379,
			"redis_password":""
		}
		},
	"worker": {
		"max_messages_received": 10,
		"delete_batch_max": 10,
		"delay_max": 20,
		"cloudwatch_metric_limit": 100,
		"cloudwatch_metric_interval": 5,
		"log_directory":"/var/log/",
		"log_level":<"DEBUG","INFO","WARNING","ERROR","CRITICAL">
		"logging_rollover_when":<'S' Seconds,'M' Minutes,'H' Hours,'D' Days,'midnight'>,
		"logging_rollover_interval": 5
		}
	
}