{
	"env": {
		"DEV": {
			"description": "use when running on localstack from within the container",
			"executor":"php",	
			"working_dir":"",		
			"queue_name": "local_queue",
			"profile_name": "default",
			"region_name": "us-east-1",
			"endpoint_url": "http://localstack:4576",
			"max_processes": 10
		},
		"PRODUCTION": {
			"description": "use when running for aws queue",
			"executor":"<php, php56 php72 /usr/local/bin/php, python>",
			"working_dir":"<working directory path>",		
			"queue_name": "demo_queue",
			"profile_name": "<profile>",
			"region_name": "<profile_region>",
			"endpoint_url": "",
			"max_processes": 4
		}
		},
	"worker": {
		"max_messages_received": 10,
		"delete_batch_max": 10,
		"delay_max": 20,
		"cloudwatch_metric_limit": 100
	}
	
}